<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsFlash</title> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body> 
          <section class="hero is-primary">
              <div class="hero-body">
                <div class= "container is-mobile has-text-centered">
                  <p class="is-size-1">
                    Select a News Source
                  </p> 
              </div>
              </div>
            </section> 
            <div class="tabs is-centered">
              <ul>
                <li class="is-size-3" id="newYorkTimes"><a>Toady's Top Stories</a></li>
                <li class="is-size-3" id="time"><a>The New York Times</a></li>
                <li class="is-size-3" id="guardian"><a>The Guardian</a></li>
                <li class="is-size-3" id="espn"><a >ESPN</a></li>
              </ul>
            </div> 
<script src="../script.js"></script>
</body>
</html>